* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header {
    /* background-color: aqua; */
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    border: 2px solid black;
}

.navbar {
    padding-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.link-group {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav__logo {
    text-decoration: none;
    width: 186px;
    height: 41px;
    color: #A55C30;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 41px;
}



.link__name {
    text-decoration: none;
    width: 47px;
    height: 22px;
    color: #000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

}

main {
    width: 100%;
    min-height: calc(100vh - 70px - 50px);
    /* background-color: green; */
}

.main__bash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__bash-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main__bash-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap: 50px;
    margin-bottom: 190px;
}

.bash__img-1 {
    margin-top: 30px;
}

.bash__name {
    font-size: 70px;
    margin-top: 90px;
    font-family: 'Lora';
    font-style: normal;
    color: #232730;
}

.bash__img-3 {
    position: absolute;
    margin-right: 50px;
}

.main__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.about__img {
    margin-left: 100px;
}

.about__name {
    width: 114px;
    height: 51px;
    color: #A55C30;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 10px;
}

.about__text {
    width: 481px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #232730;
    margin-right: 150px;
}

.services__name {
    position: absolute;
    width: 194px;
    height: 61px;
    margin-left: 623px;
    margin-top: 117px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #A55C30;
}

.services__content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    position: absolute;
    width: 303px;
    height: 394px;
    margin-left: 123px;
    margin-top: 232px;
    color: white;
}

.services__content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
    position: absolute;
    width: 303px;
    height: 421px;
    margin-left: 569px;
    margin-top: 238px;
    color: white;
}

.services__content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 46px;
    position: absolute;
    width: 303px;
    height: 394px;
    margin-left: 1015px;
    margin-top: 232px;
    color: white;
}

.content-1__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.content-2__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.content-3__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.main__fleet {
    display: flex;
    justify-content: center;
    margin: 60px 100px;
}

.fleet__name {
    position: absolute;
    width: 134px;
    height: 72px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: #A55C30;
}

.fleet__group {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1192px;
    height: 468px;
}

.fleet__group--content {
    padding: 20px;
    width: 378px;
    height: 468px;
    background: #FFFFFF;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
}

.group__content--img {
    margin-top: 50px;
    width: 311px;
    height: 160px;
}

.group__content--name {
    text-align: center;
    margin-top: 10px;
    height: 33px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #A55C30;
}

.group__content--bio {
    text-align: center;
    height: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(35, 34, 34, 0.96);
}

.group__content--text {
    margin-top: 20px;
    margin-left: 35px;
    width: 299px;
    height: 99px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(35, 34, 34, 0.96);

}

.group__content--group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310.53px;
    height: 24px;
}

.content__group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    height: 24px;
    margin-left: 35px;
}

.content__group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105.53px;
    height: 19.25px;
}

.left-right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2650px;
    margin-left: 25px;
    gap: 1310px;
}

.frame {
    position: absolute;
    width: 65px;
    height: 11px;
    margin-left: 690px;
    top: 2930px;
}

.main__static {
    background-color: rgba(35, 34, 34, 0.96);
    width: 1440px;
    height: 306px;
    padding: 88px 220px;
}

.static__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.static__group h1 {
    width: 200px;
    height: 90px;
    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
}

.static__group h3 {
    width: 200px;
    height: 31px;
    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.main__rectangle {
    width: 1440px;
    height: 779px;
    background-color: #F8D7A4;
    padding: 116px 125px 61px;
}

.main__rectangle h1 {
    margin-left: 450px;
    margin-bottom: 50px;
    width: 295px;
    height: 61px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #A55C30;
}

.rectangle__group {
    width: 1192px;
    height: 424px;
    background: #FFFFFF;
    box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
}

.rectangle__group-1 {
    position: absolute;
    width: 177.64px;
    height: 270.13px;
    text-align: center;
    margin: 72px 894.36px 81.87px 120px;
}

.rectangle__group-1 img {
    width: 160px;
    height: 160px;
}

.rectangle__group-1 h2 {
    width: 177.64px;
    height: 35px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #272727;
    margin-top: 20px;
}

.rectangle__group-1 p {
    width: 123.88px;
    height: 42.07px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #979797;
    margin-left: 25px;
}

.rectangle__group-2 {
    position: absolute;
    width: 601px;
    height: 178px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #272727;
    margin: 72px 163px 174px 428px;
}

.rectangle__group-3 {
    position: absolute;
    width: 189.33px;
    height: 28.05px;
    margin: 314px 368.67px 81.95px 634px;
}

.rectangle__img {
    position: absolute;
    width: 65px;
    height: 11px;
    margin: 45px 68px 61px 555px;
}

.main__call {
    width: 1440px;
    height: 306px;
    text-align: center;
    background: url(./img/Rectangle\ 3-car.png);
}

.main__call h2 {
    position: absolute;
    width: 537px;
    height: 61px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 81.6px 451.5px 163.4px 451.5px;
}

.main__call h1 {
    position: absolute;
    width: 954px;
    height: 76px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 132px 243px 98px 243px;
}

.main__contact {
    width: 211px;
    height: 72px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: #A55C30;
    margin: 105px 615px 86px;
}

.contact__group {
    width: 727px;
    height: 709px;
    background: #E8EAEC;
    margin: 86px 335px 97px 378px;
}

.contact__group-1,
.contact__group-2,
.contact__group-3 {
    position: absolute;
    width: 439px;
    height: 54px;
    background: #FFFFFF;
    border: 0.5px solid #D2D2D2;
    padding: 18px 308.53px 17.35px 37px;
}

.contact__group-1 {
    margin: 116px 146px 539px 142px;
}

.contact__group-2 {
    margin: 192px 146px 463px 142px;
}

.contact__group-3 {
    margin: 268px 146px 387px 142px;
}

.contact__group-4 {
    position: absolute;
    width: 439px;
    height: 204px;
    background: #FFFFFF;
    border: 0.5px solid #D2D2D2;
    padding: 18px 308.53px 154.56px 37px;
    margin: 344px 146px 161px 142px;
}

.contact__group-5 {
    position: absolute;
    width: 245px;
    height: 60px;
    background: #A55C30;
    color: white;
    border: 1px solid #A55C30;
    ;
    margin: 570px 243px 79px 239px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.contact__group-5:hover {
    background-color: white;
    color: #A55C30;
    ;
}

footer {
    height: 50px;
}

.footer__group {
    width: 1440px;
    height: 437px;
    background: #0C0C0C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 123px;
    padding-right: 122px;
}

.footer__group-1,
.footer__group-2,
.footer__group-3 {
    border: 2px solid white;
}

.footer__group-1 {
    margin-top: 35px;
}

.footer__group-1 h1 {
    width: 186px;
    height: 41px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #A55C30;
    margin-bottom: 10px;
}

.footer__group-1 p {
    width: 263px;
    height: 100px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FAFAFA;
}

.footer__group-2{
    margin-top: 74px;
}

.footer__group-2 h1 {
    width: 167px;
    height: 30px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #A55C30;
    margin-left: 150px;
    margin-bottom: 32px;
}

.footer__group-2 p {
    width: 299px;
    height: 40px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FAFAFA;
    margin-bottom: 24px;
    margin-left: 60px;
}

.footer__group-2 input {
    width: 276px;
    height: 54px;
    background: #FFFFFF;
    border: 0.5px solid #D2D2D2;
    padding: 18px 116px 17px 23px;
}

.footer__group-2 button {
    width: 136px;
    height: 53px;
    background: #A55C30;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #A55C30;
    margin-left: 10px;
    margin-top: 1px;
}

.footer__group-2--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    height: 30px;
    margin-top: 62px;
    margin-left: 130px;
}

.footer__group-3 {
    margin-top: 80px;
}



/* .text-center {
    text-align: center;
    color: white;
} */