* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header {
    /* background-color: aqua; */
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    border: 2px solid black;
}

.navbar {
    padding-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.link-group {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav__logo {
    text-decoration: none;
    width: 186px;
    height: 41px;
    color: #A55C30;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 41px;
}



.link__name {
    text-decoration: none;
    width: 47px;
    height: 22px;
    color: #000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

}

main {
    width: 100%;
    min-height: calc(100vh - 70px - 50px);
    /* background-color: green; */
}

.main__bash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__bash-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main__bash-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap: 50px;
    margin-bottom: 190px;
}

.bash__img-1 {
    margin-top: 30px;
}

.bash__name {
    font-size: 70px;
    margin-top: 90px;
    font-family: 'Lora';
    font-style: normal;
    color: #232730;
}

.bash__img-3 {
    position: absolute;
    margin-right: 50px;
}

.main__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.about__img {
    margin-left: 100px;
}

.about__name {
    width: 114px;
    height: 51px;
    color: #A55C30;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 10px;
}

.about__text {
    width: 481px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #232730;
    margin-right: 150px;
}

.services__name {
    position: absolute;
    width: 194px;
    height: 61px;
    margin-left: 623px;
    margin-top: 117px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #A55C30;
}

.services__content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    position: absolute;
    width: 303px;
    height: 394px;
    margin-left: 123px;
    margin-top: 232px;
    color: white;
}

.services__content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
    position: absolute;
    width: 303px;
    height: 421px;
    margin-left: 569px;
    margin-top: 238px;
    color: white;
}

.services__content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 46px;
    position: absolute;
    width: 303px;
    height: 394px;
    margin-left: 1015px;
    margin-top: 232px;
    color: white;
}

.content-1__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.content-2__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.content-3__text {
    width: 303px;
    height: 267px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.main__fleet {
    display: flex;
    justify-content: center;
    margin: 60px 100px;
}

.fleet__name {
    position: absolute;
    width: 134px;
    height: 72px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: #A55C30;
}

.fleet__group {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1192px;
    height: 468px;
}

.fleet__group--content {
    padding: 20px;
    width: 378px;
    height: 468px;
    background: #FFFFFF;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
}

.group__content--img {
    margin-top: 50px;
    width: 311px;
    height: 160px;
}

.group__content--name {
    text-align: center;
    margin-top: 10px;
    height: 33px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #A55C30;
}

.group__content--bio {
    text-align: center;
    height: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(35, 34, 34, 0.96);
}

.group__content--text {
    margin-top: 20px;
    margin-left: 35px;
    width: 299px;
    height: 99px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(35, 34, 34, 0.96);

}

.group__content--group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310.53px;
    height: 24px;
}

.content__group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    height: 24px;
    margin-left: 35px;
}

.content__group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105.53px;
    height: 19.25px;
}

.left-right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2650px;
    margin-left: 25px;
    gap: 1310px;
}

.frame {
    position: absolute;
    width: 65px;
    height: 11px;
    margin-left: 690px;
    top: 2930px;
}

footer {
    height: 50px;
    /* background-color: black; */
}

/* .text-center {
    text-align: center;
    color: white;
} */