/* .wrapper {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(5, 300px);
}

.box-item {
    background-color: rgb(11, 113, 21);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
}

.box-item:nth-child(1) {
    background-color: aqua !important;
    grid-row: 2/4;
    grid-column: 4/5;
} */

/* ----------------------------------------------------------------------------------------- */

/* .wrapper {
    padding: 10px;
    border: 2px solid #000;
}

.box-item {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 5px;
    position: relative;
}

/* position : defoult : static -> */

/* .box-item:nth-child(1) {
    top: 130px;
    left: 300px;
    background-color: lime !important;
}

.box-item:nth-child(2) {
    top: -300px;
    left: 300px;
    right: 0;
    background-color: yellow !important;
} */

/* ----------------------------------------------------------------------------------------- */
